* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	width: 1170px;
	margin: auto;
}
header {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(saudiarabiatourism.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow-y: auto; 
    height: 40vh; 
}

.eventy-text {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    z-index: 1000; 
}

.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}

.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.container {
    text-align: center;
    margin-top: 20px;

}


.circle {
    position: relative; 
    width: 410px;
    height: 580px; 
    background-size: cover;
    border-radius: 3%;
    display: inline-block;
    margin-left: 20px;
}
.circle:hover {
    transform: translateY(-5px); 
}
.overlay-container {
    position: absolute;
	border-radius: 3%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display:flex;
    justify-content: left;
    align-items: end;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.overlay-container h4{
	margin-bottom: 80px;
    margin-left: 40px;
}

.culture {
    background-image: url('Cultureandheritage.jpg');
}

.sun {
    background-image: url('Sunandsee.jpg'); 
}

.nature {
    background-image: url('Natureandadventure.jpg'); 
}
.See_Saudi{
    color: #000000;
    font-size: 24px;
    font-weight: bold;
	margin-left: 120px;
	margin-top: 130px;
}
.Featured_Events{
    color: #000000;
    font-size: 24px;
    font-weight: bold;
	margin-left: 120px; 
	margin-top: 70px;
}

.events-container {

    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0 auto; 
    max-width: 100%;
}
.event-container {
    margin-top: 30px;

    position: relative; 
    border-radius: 3%;
    background-color: #ffffff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
    overflow: hidden; 
    display: flex; 
    flex-direction: column; 
    width: 300px; /* Set fixed width */
    height: 350px; /* Set fixed height */
    margin-bottom: 20px; /* Space at the bottom for event details */
}
.event-container:hover {
    transform: translateY(-5px);
}
.event {
    text-align: center;
    width: 100%; /* Take up the full width */
}

.Events_home {
    position: relative; 
    width: 300px;
    background-size: cover;
    display: inline-block;
    margin: 0 15px; 

}

.event-image {
    position: relative;

    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top of the container */
    overflow: hidden; /* Ensure image doesn't overflow container */
    height: auto; /* Set height to auto to maintain original image height */

}


.event-image img {
    border-radius: 3%;
    width: 100%; /* Ensure image fills container horizontally */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
}


.event-details{
    margin-top: 20px;
    padding: 10px; /* Add padding to create space at the bottom */
}
.location-text {
    color: #ffffff;
    position: absolute;
    top: 15px; /* Adjust as needed */
    left: 15px; /* Adjust as needed */
    background-color:#0000002d;
    padding: 5px; /* Adjust as needed */
    border-radius: 3px;
    font-size: 12px;
}
.seeMore {
    padding: 5px; /* Adjust as needed */
    font-size: 16px;
    margin-top: auto; /* Push "See More" to the bottom */
    text-align: center; /* Center align the text */
}

.seeMore hr {
    border: none;
    border-top: 0.1px solid #6b6b6b6b; /* Thin line above the "See More" link */
    margin: 0 auto; /* Center the line */
    width: 90%; /* Adjust the width of the line */
}

.seeMore p span {
    margin-left: 156px; /* Adjust spacing between text and arrow */
}
.event-details h3{    color: #000000; /* Set text color to black */
    margin-top: 10px; /* Push "See More" to the bottom */
}
.seeMore p {
    color: #9B3C8C; /* Set text color to black */
    margin-top: 10px; /* Push "See More" to the bottom */
    font-weight: bold;


}
.events-container a {
    text-decoration: none !important; /* Remove underline for anchor elements within .events-container */
}
