/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}
body{
    background: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

body{
text-align :center;
   padding : 50px 0;
}

.header-image {

    width: 100%; /* Set width to 100% of the viewport width */
    height: max-height; /* Allow height to adjust based on aspect ratio */
    max-height: 400px; /* Adjust the maximum height as needed */
    object-fit: covers; /* Maintain aspect ratio */
}


.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: auto; /* Allow width to adjust based on aspect ratio */
    height: auto; /* Allow height to adjust based on aspect ratio */
    max-width: 100%; /* Ensure the logo fits within the screen width */
    max-height: 100px; /* Adjust the maximum height of the logo as needed */
    font-size: 12px;
}


.container {
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
}

.contact-box{
    background: white;
    display: flex;
    color: black;
}

.contact-left{
    flex-basis: 40%;
    padding: 40px 60px;
    color: #000;
    margin-left: 50px;

}

.contact-right{
    flex-basis: 60%;
    padding: 40px 60px;
    background: white;
    color: black;
    margin: center;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #191970;
}
button{
   background: #191970;
   width: 100px;
   border: none;
   outline: none;
   color: #fff;
   height: 35px;
   border-radius: 30px; 
   margin-top: 20px;
   box-shadow: 0px 5px 15px 0px rgba(25, 25, 112);
}
.contact-left h3{
    color: bl;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
padding-right: 20px;
}
tr td{
    padding-top: 20px;
    }
    

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px 0;
}

footer {
    background-color: #333;
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
